* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

/* Shared style */
.primary_text {
  font-size: 1.125rem;
  color: #272727;
  line-height: 30px;
}

.primary_btn {
  display: inline-block;
  padding: 20px 43px;
  background-color: #E55473;
  border: none;
  border-radius: 8px;
  color: #FFFFFF;
}

.primary_header {
  font-size: 2.5rem;
  margin-bottom: 30px;
  font-weight: bolder;
  color: #272727;
}

.display {
  display: none;
}

/* Hero section style */
.hero_section {
  max-width: 100vw;
  height: 850px;
  background-color: #FFD4CF;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero_container {
  max-width: 80%;
  /* border: 1px solid red; */
  display: flex;
  gap: 100px;
  justify-content: center;
  align-items: center;
}

.hero_left_side {
  max-width: 708px;
  height: auto;
}

.hero_left_side h1 {
  font-size: 5rem;
  font-weight: bolder;
  color: #272727;
}

#paragraph {
  max-width: 634px;
  margin: 32px 0;
}

.hero_right_img img {
  display: block;
  object-fit: contain;
}

/* our featured flowers styles*/
.flowers {
  margin-bottom: 128px;
}

.our_featured_flowers {
  max-width: 35%;
  margin: 0 auto;
  margin-top: 11.125rem;
  text-align: center;
}

.featured_flowers_header_section {
  /* border: 1px solid red; */
  margin-bottom: 3rem;
}

.flowers_items {
  max-width: 1440px;
  /* border: 1px solid red; */
  display: flex;
  gap: 1.5rem;
  margin: 0 auto;
}

.flowers_cards {
  /* border: 1px solid red; */
  text-align: center;
}

.flowers_cards .flowers_paragraph {
  /* width: 181px;
  margin: 0 auto; */
  padding: 1px;
  display: inline-block;
  border-bottom: 1px solid #272727;
}

.flowers_card {
  background-color: rgba(167, 33, 98, 0.15);
  max-width: 464px;
  height: 538px;
  border-top-left-radius: 18.75rem;
  border-top-right-radius: 18.75rem;
}

.one {
  background-color: rgba(167, 33, 98, 0.15);
  padding: 110px 76px 0;
}

.two {
  background-color: rgba(5, 151, 160, 0.15);
  padding: 117px 48px 51px;
}

.three {
  background-color: rgba(71, 125, 17, 0.15);
  padding: 67px 75px 0;
}

.flowers_card {
  margin-bottom: 30px;
}


/* Delivery section styles */
.delivery_section {
  max-width: 1440px;
  margin: 128px auto;
  /* border: 1px solid red; */
  border-radius: 8px;
  background-color: rgba(39, 39, 39, 0.05);
}

.delivery_section_cards {
  display: flex;
  justify-content: space-between;
  padding: 86px 175px 86px 150px;
}

.delivery_card {
  text-align: center;
}

.delivery_card img {
  margin-bottom: 25px;
}


/* Hot Deal Section */
.hot_deal_section {
  background-color: rgba(229, 84, 115, 0.05);
  width: 100%;
  height: 620px;
  margin-bottom: 128px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hot_deal_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 186px;
}

.hot_left_side {
  max-width: 594px;
  text-align: center;
}


.hot_right_img {
  max-width: 318px;
  height: 420px;
}

.hot_right_img img {
  max-width: 318px;
  height: 420px;
}

/* hot left side er p */
.four {
  margin-bottom: 30px;
}

/* hero left side er heading er span er color change  */
#eight {
  color: #E55473;
}


/* ========== Responsive for mobile (max-width: 576px) ========== */
@media screen and (max-width: 576px) {

  /* Hero section */
  .hero_section {
    height: auto;
    padding: 30px 15px;
  }

  .hero_container {
    flex-direction: column;
    gap: 30px;
    max-width: 100%;
    text-align: center;
  }

  .hero_left_side {
    max-width: 100%;
  }

  .hero_left_side h1 {
    font-size: 2.5rem;
  }

  #paragraph {
    max-width: 100%;
    margin: 20px 0;
  }


  .hero_right_img img {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }

  /* Featured flowers header */
  .our_featured_flowers {
    max-width: 90%;
    margin-top: 4rem;
  }

    .primary_header {
      font-size: 1.8rem;
      margin-bottom: 20px;
      /* font-weight: bolder;
      color: #272727; */
    }

  .primary_text {
    font-size: 1rem;
    line-height: 26px;
  }

  /* Flowers section */
  .flowers_items {
    flex-direction: column;
    gap: 40px;
    padding: 0 25px;
  }

  .flowers_card {
    max-width: 100%;
    height: auto;
    /* padding: 60px 30px 0; */
  }

  .flowers_card img {
    width: 100%;
    max-width: 250px;
    display: block;
    margin: 0 auto;
  }

  /* .one,
  .two,
  .three {
    padding: 60px 30px 0;
  } */

  .one,
  .three {
    padding: 100px 30px 0;
  }

  .flowers {
    margin-bottom: 80px;
  }

  .primary_btn {
    padding: 15px 30px;
  }

  /* Delivery section er responsive */
  .delivery_section {
    max-width: 100%;
    margin: 50px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .delivery_section_cards {
    flex-direction: column;
    padding: 30px;
    gap: 50px;
  }

  .delivery_card {
    width: 250px;
  }

  .delivery_card img {
    margin-bottom: 15px;
    width: 50%;
  }

  /* hot deal section er responsive */
  .hot_deal_section {
    background-color: rgba(229, 84, 115, 0.05);
    width: 100%;
    height: auto;
    /* margin: 50px 20px; */
    flex-direction: column;
  }

  .hot_deal_container {
    flex-direction: column;
    /* justify-content: center;
      align-items: center; */
    gap: 50px;
    padding: 50px 20px;
    width: 100%;
  }

  .hot_left_side {
    width: 100%;
  }

  .hot_right_img {
    width: 100%;
  }

  .hot_right_img img {
   width: 100%;
  }

  

  .hero_section {
    max-width: 100%;
    height: auto;
    background-color: #FFD4CF;
    padding-top: 50px;
    margin-left: 0px;
  }

  .hero_container,
  .flowers_items {
    flex-direction: column;
  }

  .hero_container {
    padding: 20px;
    text-align: center;
    text-wrap: wrap;
  }

  .hero_right_img img {
    width: 100%;
    display: block;
    height: auto;
  }

  .hero_left_side {
    max-width: 100%;
    height: auto;

  }

  .hero_left_side h1 {
    font-size: 3rem;
    font-weight: bolder;
    color: #272727;
  }

  .flowers_card {
    border-top-left-radius: 18.75rem;
    border-top-right-radius: 18.75rem;
    width: 100%;
  }

  .flowers_items {
    max-width: 100%;
    width: 100%;
    gap: 2rem;
  }


  .flowers_cards {
    width: 100%;
  }

  .flowers_card img{
    width: 100%;
    height: 100%;
  }

  .flowers_card {
    max-width: 450px;
    height: 500px;
  }

  .one {
    padding: 110px 76px 0;
  }

  .two {

    padding: 117px 48px 51px;
  }

  .three {
    padding: 67px 75px 0;
  }

} 