* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

/* Shared style */
.hidden {
  display: none !important;
}

.primary_text {
  font-size: 1.125rem;
  color: #272727;
  line-height: 30px;
}

.primary_btn {
  border: 1px solid transparent;
  display: inline-block;
  padding: 20px 43px;
  background-color: #E55473;
  /* border: none; */
  border-radius: 8px;
  color: #FFFFFF;
  cursor: pointer;
}

.primary_btn:hover {
  border: 1px solid #8b8686;
  background-color: #c0f8fe;
  color: #000000;
}

.primary_header {
  font-size: 2.5rem;
  margin-bottom: 30px;
  font-weight: bolder;
  color: #272727;
}

.display {
  display: none;
}

/* Hero section style */
.hero_section {
  max-width: 100vw;
  height: 850px;
  background-color: #FFD4CF;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero_container {
  max-width: 80%;
  /* border: 1px solid red; */
  display: flex;
  gap: 100px;
  justify-content: center;
  align-items: center;
}

.hero_left_side {
  max-width: 708px;
  height: auto;
}

.hero_left_side h1 {
  font-size: 5rem;
  font-weight: bolder;
  color: #272727;
}

#paragraph {
  max-width: 634px;
  margin: 32px 0;
}

.hero_right_img img {
  display: block;
  object-fit: contain;
}




/* our featured flowers styles*/
/* .flowers {
  margin-bottom: 128px;
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
} */

.our_featured_flowers {
  max-width: 1440px;
  height: auto;
  margin: 178px auto;
  /* margin-top: 11.125rem; */
  text-align: center;
}

.featured_flowers_header_section {
  /* border: 1px solid red; */
  width: 594px;
  margin: 3rem auto;
  /* margin-bottom: 3rem; */
}

.flowers_items {
  max-width: 100%;
  /* border: 1px solid red; */
  display: flex;
  gap: 1.5rem;
  /* margin: 0 auto; */
}

.flowers_cards {
  /* border: 1px solid red; */
  text-align: center;
}

.flowers_paragraph {
  /* width: 181px;
  margin: 0 auto; */
  padding: 1px;
  display: inline-block;
  border-bottom: 1px solid #272727;
}

.flowers_card {
  background-color: rgba(167, 33, 98, 0.15);
  max-width: 464px;
  height: 538px;
  border-top-left-radius: 18.75rem;
  border-top-right-radius: 18.75rem;
  margin-bottom: 30px;
}

.one {
  background-color: rgba(167, 33, 98, 0.15);
  padding: 110px 76px 0;
}

.two {
  background-color: rgba(5, 151, 160, 0.15);
  padding: 117px 48px 51px;
}

.three {
  background-color: rgba(71, 125, 17, 0.15);
  padding: 67px 75px 0;
}






/* Delivery section styles */
.delivery_section {
  max-width: 1440px;
  margin: 128px auto;
  /* border: 1px solid red; */
  border-radius: 8px;
  background-color: rgba(39, 39, 39, 0.05);
}

.delivery_section_cards {
  display: flex;
  justify-content: space-between;
  padding: 86px 175px 86px 150px;
}

.delivery_card {
  text-align: center;
}

.delivery_card img {
  margin-bottom: 25px;
}


/* Hot Deal Section */
.hot_deal_section {
  background-color: rgba(229, 84, 115, 0.05);
  width: 100%;
  height: 620px;
  margin-bottom: 128px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hot_deal_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 186px;
}

.hot_left_side {
  max-width: 594px;
  text-align: center;
}


.hot_right_img {
  max-width: 318px;
  height: 420px;
}

.hot_right_img img {
  max-width: 318px;
  height: 420px;
}

/* hot left side er p */
.four {
  margin-bottom: 30px;
}

/* hero left side er heading er span er color change  */
#eight {
  color: #E55473;
}

/*  Instagram section styles */
.instagram_section {
  /* border: 1px solid red; */
  max-width: 1440px;
  margin: 0 auto 128px;
}

.instagram_section_header {
  /* border: 1px solid red; */
  max-width: 594px;
  margin: 0 auto;
  text-align: center;
}

/* instagram_section_header er h3 er margin bottom komano hoise */
.naruto {
  margin-bottom: 24px;
}

.instagram_section_flowers {
  display: flex;
  gap: 24px;
  margin-top: 3rem;
}

.flower {
  width: 342px;
  height: 396px;
}

.flower img {
  width: 342px;
  height: 396px;
}


/* ========== Responsive for mobile (max-width: 576px) ========== */
@media screen and (max-width: 576px) {

  /* Shared styles responsive */
  .primary_header {
    font-size: 1.8rem;
    margin-bottom: 20px;
    /* font-weight: bolder;
        color: #272727; */
  }

  .primary_text {
    font-size: 1rem;
    line-height: 26px;
  }

  .primary_btn {
    padding: 15px 30px;
  }



  /* Hero section responsive */
  .hero_section {
    max-width: 100%;
    padding: 50px 30px;
    height: auto;
    /* flex-direction: column-reverse; */
  }

  .hero_container {
    max-width: 100%;
    /* border: 1px solid red; */
    flex-direction: column-reverse;
    gap: 80px;
    margin: 0 auto;
    text-align: center;
  }

  .hero_left_side {
    max-width: 100%;
  }

  .hero_left_side h1 {
    font-size: 2.5rem;
    /* font-weight: bolder;
    color: #272727; */
  }

  .hero_right_img {
    width: 100%;
  }

  .hero_right_img img {
    width: 100%;
    display: block;
    object-fit: contain;
  }

  /* #eleven{
    margin-bottom: 30px;
  } */



  /*Our Featured flowers header */
  .our_featured_flowers {
    max-width: 100%;
    height: auto;
    margin: 30px 20px;
    /* margin-top: 11.125rem; */
    text-align: center;
  }

  .featured_flowers_header_section {
    /* border: 1px solid red; */
    width: 100%;
    margin: 20px auto;
    /* margin-bottom: 3rem; */
  }

  .flowers_items {
    max-width: 100%;
    /* border: 1px solid red; */
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    gap: 1rem;
    /* margin: 0 auto; */
  }

  .flowers_cards {
    /* border: 1px solid red; */
    text-align: center;
  }

  .flowers_card {
    max-width: 100%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    height: auto;
    /* padding: 60px 30px 0; */
  }

  .flowers_card img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }



  /* Delivery section er responsive */
  .delivery_section {
    max-width: 100%;
    margin: 50px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .delivery_section_cards {
    flex-direction: column;
    padding: 30px;
    gap: 50px;
  }

  .delivery_card {
    width: 250px;
  }

  .delivery_card img {
    margin-bottom: 15px;
    width: 50%;
  }



  /* hot deal section er responsive */
  .hot_deal_section {
    background-color: rgba(229, 84, 115, 0.05);
    width: 100%;
    height: auto;
    /* margin: 50px 20px; */
    flex-direction: column;
  }

  .hot_deal_container {
    flex-direction: column-reverse !important;
    /* justify-content: center;
      align-items: center; */
    gap: 50px;
    padding: 50px 20px;
    width: 100%;
  }

  .hot_left_side {
    width: 100%;
  }

  .hot_right_img {
    width: 100%;
  }

  .hot_right_img img {
    width: 100%;
  }



  /*  Instagram section styles */
  .instagram_section {
    /* border: 1px solid red; */
    max-width: 100%;
    margin: 0 auto 25px;
  }

  .instagram_section_header {
    /* border: 1px solid red; */
    max-width: 100%;
    margin: 30px;
    /* margin: 0 auto;
      text-align: center; */
  }

  /* instagram_section_header er h3 er margin bottom komano hoise */
  .naruto {
    margin-bottom: 16px;
  }

  .instagram_section_flowers {
    /* display: flex;
      gap: 24px;
      margin-top: 3rem; */
    margin: 30px;
    flex-direction: column;
    gap: 16px;
  }

  .flower {
    /* width: 342px;
      height: 396px; */
    width: 100%;
  }

  .flower img {
    /* width: 342px;
      height: 396px; */
    width: 100%;
  }
}